In [43]:
import mysql.connector as connector

In [44]:
connection = connector.connect(user = "little_lemon_admin", password = "Ll123456", db="little_lemon_db")

In [45]:
cursor = connection.cursor()

In [46]:
cursor.execute("show tables")

In [47]:
for i in cursor.fetchall():
    print(i)

('bookings',)
('customers',)
('employees',)
('menuitems',)
('menus',)
('orders',)
('ordersview',)

In [59]:
cursor.execute("""select concat(c.First_Name, " ", c.Last_Name) as "Full Name", c.ContactNo as "ContactNo" from customers c
join orders o
join bookings b
on o.BookingID = b.BookingID and b.Customer_ID = c.Customer_ID
where o.Cost > 60;""")

In [60]:
for i in cursor.fetchall():
    print(i)

('Anna Iversen', '351786345')
('Joakim Iversen', '351486345')